<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
<!-- first way to write beans  -->
	<bean class="com.springcore.Student" name="student1">
	<property name="studentId" value="12"></property>
	<property name="studentName" value="jivan"></property>
	<property name="studentAddress" value="deulgaonraja"></property>
	</bean>
	
	<!-- second way to write beans  -->
	<bean class="com.springcore.Student" name="student2" p:studentId = "23" p:studentName = "raghv" p:studentAddress = "delhi"/>
	<bean class="com.springcore.Student" name="student3" p:studentId = "34" p:studentName = "pravin" p:studentAddress = "pune"/>
	<bean class="com.springcore.Student" name="student4" p:studentId = "45" p:studentName = "ganesh" p:studentAddress = "outti"/>
	
</beans>